@use 'src/app/theme' as ml;
@use 'src/app/media-query' as *;
@use 'src/app/root-styles/variables' as root;

.gp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;

  &-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    overflow: hidden;
  }

  &-action {
    &-wrapper {
      display: flex;
      @include ml.elevation(1);
      // @include ml.style((border-bottom: 1px solid [color]), (foreground, divider));
    }

    & {
      display: block;
      width: 20%;
      height: 80px;
      min-width: 0;
      border-radius: 0;
      line-height: normal;
      padding: 16px 8px;

      background-color: transparent;

      will-change: contents;
      transition-property: width, background-color, color;
      transition-duration: ml.transition-duration(fast);
      transition-timing-function: ml.transition-timing-function(standard);

      &.ml-primary, &.ml-accent, &.ml-secondary, &.ml-warn {
        width: 40%;
      }
    }

    &-label {
      display: block;
    }

    &-data {
      margin-top: 8px;
    }
  }

  &-chart {
    &-wrapper {
      height: 100%;
      overflow: hidden;
      padding: 8px 8px 8px 4px;
      box-sizing: border-box;
    }
  }
}


@include pc {
  .gp {
    &-chart {
      height: auto !important;
    }
  }
}
