@use 'src/app/root-styles/header';
@use 'src/app/theme' as ml;
@use 'src/app/media-query' as *;

.hp-head {
  position: relative;
  top: 0; left: 0;

  height: 100vh;
  width: 100%;
  margin-top: -(header.$mp-height);
  color: white;

  display: flex;
  contain: paint;

  &-img {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: ml.transition(filter, very-slow, acceleration);
    filter: brightness(0);
    background: black;
    z-index: -1;

    &.loaded {
      filter: brightness(.24);
    }
  }
  
  &-content {
    display: inline-block;
    margin: auto;
  }

  &-heading {
    font-size: 56px;
    margin: 0;
    // padding: 0 24px;
    // text-align: center;
  }

  &-nav {
    min-width: 0 !important;
    width: 100%;
    height: 40px;
    font-size: 18px !important;
  }

  // &-divider {
  //   display: block;
  //   background-color: white;
  //   border-radius: 2px;
  //   height: 2px;
  //   margin: 8px 0 24px;
  // }

  // &-catch-logo {
  //   display: block;
  //   padding: 0 40px;
  //   margin: auto;
  //   fill: inherit;
  // }
}

.hp-body {
  @include ml.style(background-color, (background, background));
}

.hp-intro-pwa {

}

@include pc {
  .hp-head {
    margin-top: -(header.$pc-height);

    &-heading {
      font-size: 80px;
      // padding: 0 48px;
    }

    &-nav {
      height: 48px;
    }

    // &-catch-logo {
    //   padding: 8px 80px;
    // }
  }
}
