@use 'sass:math';
@use './variables' as *;
@use '../theme' as ml;
@use '../media-query' as *;

// NAME: root-header

#rh {
  position: fixed;
  z-index: 9; // 8
  @include ml.elevation(8);
  transform: translateY($header-mp-gap);
  backface-visibility: hidden;
  top: 0; left: 0; right: 0;

  overflow: hidden;

  width: 96%;
  height: $header-mp-height;

  margin: auto;
  border-radius: 8px;

  transition-property: width, height, transform, background-color, color;
  transition-duration: ml.transition-duration(fast);
  transition-timing-function: ml.transition-timing-function(ease-in-out);

  @include ml.style(background-color, (background, app-bar));
  @include ml.palette-zone(default, default-contrast) using ($name, $color, $contrast) {
    &.#{$name}-theme {
      background-color: $color;
      color: $contrast;
    }
  }

  @include mp { // 特例
    .will-change & {
      perspective: 1000px;
      will-change: contents;
    }
  }
}

.rh {
  &-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: $header-mp-height;
  }

  &-title-wrapper {
    height: 100%;
    display: flex;
  }
  &-title {
    height: 16px;
    margin: auto 0;
  }

  &-button {
    margin: 0 4px;
    z-index: 2;
    flex-shrink: 0;
  }
  &-left-action {
    margin-left: 8px;
  }
  &-right-action {
    margin-right: 8px;
  }

  &-icon {
    width: 24px;
    height: 24px;
  }

  &-icon-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  &-left-icon-path {
    opacity: 0;
    transform: rotate(-90deg);
    transform-origin: center;

    overflow: hidden;
    backface-visibility: hidden;

    transition-property: transform, opacity;
    transition-duration: ml.transition-duration(slow);
    transition-timing-function: ml.transition-timing-function(ease-out);
  }
  &-visible-left-icon-path {
    opacity: 1;
    transform: rotate(0);
  }

  &-right-icon-path {
    opacity: 0;
    transform: scale(0.8);
    transform-origin: center;

    overflow: hidden;
    backface-visibility: hidden;
  
    transition-property: transform, opacity;

    // Out transition
    transition-duration: math.div(ml.transition-duration(normal), 2);
    transition-timing-function: ml.transition-timing-function(ease-in);
  }
  &-visible-right-icon-path {
    opacity: 1;
    transform: scale(1);

    // In transition
    transition-delay: math.div(ml.transition-duration(normal), 2);
    transition-timing-function: ml.transition-timing-function(ease-out);
  }

  &-content {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;

    width: 100%;
    // flex-grow: 1;

    height: 100%;

    margin: 0 4px;

    &-enter-active,
    &-leave-active {
      @include ml.transition(opacity, normal, ease-in-out);
    }

    &-enter-from,
    &-leave-to {
      position: absolute;
      opacity: 0;
    }
  }

  &-mobile-action {
    position: absolute !important;
    overflow: visible !important;
    top: 0; left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}



@include pc {
  #rh {
    height: $header-pc-height;
    width: 100%;
    @include ml.elevation(2);
    border-radius: 0;
    transform: none;
  }

  .rh {
    &-container {
      height: $header-pc-height;
      max-height: $header-pc-height;
    }

    &-title {
      height: 18px;
    }

    &-left-action {
      height: $header-pc-height;
      width: $header-pc-height !important;
      min-width: 0 !important;

      margin: 0;
      border-radius: 0 !important;

      .rh-icon {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
      }
    }

    &-content {
      height: 100%;
    }
  }
}
