@use './variables' as *;
@use '../theme' as ml;
@use '../utils' as *;
@use '../media-query' as *;


.rn {
  position: fixed;
  z-index: 8;
  @include ml.elevation(8);
    // top: unset
  left: 0; bottom: 0;

  width: $nav-mp-width;
  height: $nav-mp-height;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  @include ml.style(background-color, (background, app-bar));

  transition: ml.transition(transform, fast, ease-in-out);

  @include combine('.ml-button') {
    &-button {
      width: 100%;
      min-width: 0;
      height: 100%;
      border-radius: 0;
      flex-direction: column;
    }

    &-active-button {
      @include ml.style((color: [color]), (color, primary, default));

      .rn-icon-accent {
        fill: currentColor;
      }
    }
  }

  &-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  &-icon-accent {
    fill: transparent;
  }

  &-label {
    font-size: 10px;
    line-height: 1;
    margin-top: 2px;
  }

  &-straight-tracker .ml-tracker {
    transition-duration: ml.transition-duration(normal);
    transition-property: left;
  }

  &-ink-bar {
    height: 2px;
    width: 100%;
  }

  &.mobile-hidden {
    transform: translateY(100%);
  }
}


@include pc {
  .rn {
    padding-top: $nav-pc-width;
    width: $nav-pc-width;
    height: $nav-pc-height;

    @include ml.elevation(2);

    flex-direction: column;

    &-button {
      height: $nav-pc-width !important;
    }

    &-icon {
      width: 32px;
      height: 32px;
    }

    &-label {
      display: none;
    }

    &-straight-tracker .ml-tracker {
      transition-property: top;
    }

    &-ink-bar {
      height: 100%;
      width: 2px;
    }

    &.mobile-hidden {
      transform: none;
    }
  }
}
