@use 'sass:color';
@use 'src/app/theme' as ml;
@use 'src/app/utils' as *;
@use 'src/app/media-query' as *;
@use 'src/app/root-styles/variables' as root;

// NAME: workbook-list => wl
.wl {
  max-width: 1240px;
  margin: 0 auto;

  // TODO: scroll-position の効果がどのくらい、どこに指定すれば有効なのかを検証したい
  // will-change: scroll-position;

  .eb-label:empty {
    display: none;
  }

  &-section {
    content-visibility: auto;
    box-sizing: border-box;
    padding-bottom: 40px;
  }

  &-ad-card, &-card {
    position: relative;
    width: 100%;
    padding: 16px 24px;
    box-sizing: border-box;
    user-select: none;
    @include ml.style((border-bottom: [color] 1px solid), (foreground, divider));
  }

  &-card {
    display: inline-flex;
    flex-wrap: wrap;

    &-title {
      width: 100%;
      flex-shrink: 0;
      font-size: 18px;
      font-weight: 500;
      color: #039BE5;
      margin-bottom: 16px;
  
      .downloaded & {
        @include ml.style((color: [color]), (color, accent, default));
      }
    }
  
    &-thumbnail {
      display: inline-flex;
      width: 80px;
      height: 80px;
      margin-right: 16px;
      border-radius: 4px;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      align-items: center;
  
      background-color: pink;
    }
  
    &-desc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      @include ml.style(color, (foreground, secondary-text));
    }
    &-tag-wrapper {
      margin-left: auto;
      -ms-overflow-style: none;
      &::-webkit-scrollbar { display:none; }
    }
    &-tag {
      display: inline-block;
      margin-left: 8px;
      padding: 4px 8px;
      border-radius: 16px;
  
      font-size: 12px;
      white-space: nowrap;
      @include ml.style(background-color, (background, unselected-chip));
    }

    &:hover  &-overlay, .wl-ad-card:hover &-overlay  { opacity: .04; }
    &:active &-overlay, .wl-ad-card:active &-overlay { opacity: .08; }
    &-overlay {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      pointer-events: none;
      opacity: 0;
      transition: ml.transition(opacity, fast, ease-out);
      @include ml.style(background-color, (foreground, opposite-base));
    }
  }
}


.wl-rh {
  position: relative;
  width: 100%;
  height: 100%;
}

.wl-rh-search {
  &-box {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-input {
    width: 100%;
    height: 100%;
    font-weight: 400;

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
    }
  }

  @include combine('.ml-button') {
    &-submitter {
      // Display PC only
      display: none; 
      @include ml.style(background-color, (background, unselected-chip));
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      height: 32px;
      min-width: 0;
      min-height: 0;
      padding: 0 16px;
    }
  }
}

.wl-rh-suggest {
  position: fixed;
  width: 100%;
  height: calc(100vh - root.$header-mp-height);
  left: 0;
  @include ml.style((border-top: 2px solid [color]), (foreground, divider));
  box-sizing: border-box;
  overflow: auto;

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 8px;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-link {
    position: static;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    padding-right: 8px;
    box-sizing: border-box;
  }

  &-label {
    margin: 0 8px;
  }

  &-icon {
    margin: 8px;
  }

  &-link:hover  &-overlay { opacity: .04; }
  &-link:active &-overlay { opacity: .08; }
  &-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: ml.transition(opacity, fast, ease-out);
    @include ml.style(background-color, (foreground, opposite-base));
  }
}

#rh.wl-search {
  transform: translateY(0);
  width: 100%;
  height: 100%;

  .rh-content-wrapper {
    z-index: 2;
  }

  .rh-mobile-action {
    opacity: 0;
    transition: ml.transition(opacity, fast, ease-in-out);
  }
}

@include pc {
  .wl {
    .eb-label {
      grid-column: span 2;
      margin-left: 0;
      margin-right: 0;
    }

    &-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
      padding: 0 24px 40px;
    }

    &-card, &-ad-card {
      max-width: 560px;
      padding: 16px;
      margin: 0 auto 16px;
  
      @include ml.style((
        background-color: [color],
        border: 1px solid [color-2]
      ), (background, card), (foreground, divider));
    }

    &-card {
      border-radius: 4px;
    }
  }

  .wl-rh {
    width: 56%;
    margin: 0 auto;
  }

  $input-height: 32px;

  .wl-rh-search {
    &-input {
      max-width: 800px;
      width: 100%;
      height: $input-height;
      padding: 0 16px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      @include ml.style((border: 2px solid [color]), (background, unselected-chip));

      &::placeholder {
        font-size: 14px;
      }
    }

    @include combine('.ml-button') {
      &-submitter {
        display: inline-flex;
        height: $input-height;
      }
    }
  }

  .wl-rh-suggest {
    position: absolute;
    top: (root.$header-pc-height - ((root.$header-pc-height - $input-height) * 0.5));
    left: 0;

    height: auto;

    opacity: 0;
    pointer-events: none;

    @include ml.style((background-color), (background, app-bar));
    @include ml.style((border: 2px solid [color]), (background, unselected-chip));
    border-top: none;
    box-sizing: border-box;

    transition: opacity 120ms ml.transition-timing-function(ease-in-out);

    &.focused {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
