<div class="eb-settings">
  <section class="eb-settings-section">
    <span class="eb-settings-label">テーマ</span>
    <div class="eb-settings-form">
      <ml-slide-toggle theme="accent">
        <span class="eb-settings-form-title">ダークテーマの使用</span>
      </ml-slide-toggle>
    </div>
  </section>

  <section class="eb-settings-section">
    <span class="eb-settings-label">ユーザー</span>

    <div class="eb-settings-form" [ngSwitch]="hasSignedIn">
      <ng-template [ngSwitchCase]="true">
        <button mlButton aria-label="ログアウトする" (click)="user.signOut()">ログアウト</button>
        <button mlButton aria-label="アカウントを削除する" (click)="user.delete()">アカウントの削除</button>
      </ng-template>

      <ng-template [ngSwitchCase]="false">
        <a mlButton routerLink="/sign-in" aria-label="ログインページへ">ログイン</a>
      </ng-template>
    </div>
  </section>
</div>
