@use '@material-lite/theming' as *;
@forward '@material-lite/theming';

$material-lite: (
  default: define-css-variables-theme((
    foreground: (
      opposite-base: var(--ml-fg-opposite-base)
    ),
    color: define-css-variables-color((primary, secondary, accent, warn)),
    config: (
      includes: (button, ripple, slide-toggle)
    )
  ))
);
