@use '@material-lite/theming' as *;
@forward '@material-lite/theming';

$primary-palette: define-palette($purple-palette);
$secondary-palette: define-palette($light-green-palette);

$material-lite: (
  default: define-light-theme((
    color: (
      primary: $primary-palette,
      accent:  define-palette($indigo-palette),
      secondary: $secondary-palette,
      warn:    $warn-palette
    )
  )),

  '.dark-theme': define-dark-theme((
    color: (
      primary: $primary-palette,
      accent:  define-palette($amber-palette),
      secondary: $secondary-palette,
      warn:    $warn-palette
    )
  )),
);
