<!-- Header -->
<ng-template #rhContent>
  <div class="wg-rh">
    <ng-template [ngIf]="mediaQuery.isPC" [ngIfElse]="rhMobile">
      <h2 class="wg-rh-pc-title wg-title">TITLE</h2>
    </ng-template>
    <ng-template #rhMobile>
      <div class="wg-rh-mp-label">{{ isResults ? "Result" : "Play" }}</div>
    </ng-template>
  </div>
</ng-template>



<!-- Content -->
<ng-template [ngIf]="isPlaying" [ngIfElse]="resting">
  <div class="wg-playing">
    <section class="wg-question wg-typography"></section>

    <section class="wg-answer-wrapper">
      <div class="wg-answer wg-typography" mlRipple role="button">
        <div class="wg-answer-overlay"></div>
      </div>
      <div class="wg-answer wg-typography" mlRipple role="button">
        <div class="wg-answer-overlay"></div>
      </div>
      <div class="wg-answer wg-typography" mlRipple role="button">
        <div class="wg-answer-overlay"></div>
      </div>
      <div class="wg-answer wg-typography" mlRipple role="button">
        <div class="wg-answer-overlay"></div>
      </div>
      <div class="wg-answer" mlRipple role="button" aria-label="回答5">
        <div class="wg-answer-overlay"></div>
      </div>
    </section>
  </div>
</ng-template>

<ng-template #resting>
  <div class="wg-resting eb-limit eb-view-spacer">
    <section class="wg-desc wg-card eb-card" [class.expanded]="descHasExpanded">
      <h2 class="wg-desc-title wg-actions" mlButton role="button" aria-label="詳細を見る" hoverAction="enabled">TITLE</h2>
      <!-- <div class="wg-"></div> -->
    </section>
    
    <ng-template [ngIf]="isResults">
      <section class="wg-card eb-card eb-zero-padding">
        <button class="wg-actions" mlButton theme="secondary" (click)="fragment.add('playing')" aria-label="途中から開始する">途中から開始する</button>
        <button class="wg-actions" mlButton theme="warn" (click)="fragment.add('playing')" aria-label="ミスした問題飲み出題">ミスした問題のみ出題</button>
        <button class="wg-actions" mlButton theme="primary" (click)="configSection.scrollIntoView({ behavior: 'smooth', block: 'center' })" aria-label="設定を変更する">設定を変更する</button>
      </section>
  
      <section class="wg-results wg-card eb-card">
        <table class="wg-results-table">
          <tr>
            <!-- <th colspan="2" class="wg-results-heading">{{ game.name }}</th> -->
            <th class="wg-results-heading" colspan="2">通常問題</th>
          </tr>
          <tr>
            <td class="wg-results-label ml-secondary-color">正解数</td>
            <td>4 問</td>
            <!-- <td>{{ counts.corrected }} 問</td> -->
          </tr>
          <tr>
            <td class="wg-results-label ml-warn-color">ミス数</td>
            <td>8 問</td>
            <!-- <td>{{ counts.mistaken }} 問</td> -->
          </tr>
          <tr>
            <td class="wg-results-label ml-accent-color">正答率</td>
            <td>16 問</td>
            <!-- <td>{{ counts.corrected / counts.answered | round }} ％</td> -->
          </tr>
        </table>
      </section>
    </ng-template>

    <section #configSection class="wg-card eb-card eb-settings">
      <div class="eb-settings-section">
        <span class="eb-settings-label">ゲーム設定</span>
        <!-- <div class="eb-settings-form">aiueo</div> -->
      </div>
    </section>
  </div>
</ng-template>
